/* Start Variables */

:root {
    --primary-color: hsl(225, 100%, 94%);
    --primary-alt-color: hsl(245, 75%, 52%);
    --natural-color: hsl(223, 47%, 23%);
    --natural-color-2: hsl(225, 100%, 98%);
    --natural-color-3: hsl(224, 23%, 55%);
}


/* End Variables */


/* Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}



/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global Rules */
.content{
    background-image:url("../images/pattern-background-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--primary-color);
    height: 100vh;
}
@media (max-width:375px) {
    .content{
        background-image:url("../images/pattern-background-mobile.svg");
    }
}

.content .box{
    width: 400px;
    background-color: var(--natural-color-2);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
@media (max-width:375px) {
    .content .box{
        width: 350px;
    }
}

.content .box > img{
    max-width: 100%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: rgba(114,128,167,0.59) 0px 7px 29px 0px;
    -webkit-box-shadow: -1px 12px 38px -11px rgba(114,128,167,0.59);
    -moz-box-shadow: -1px 12px 38px -11px rgba(114,128,167,0.59);
}
.content .box h1{
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    color:var(--natural-color) ;
}
.content .box > p{
    text-align: center;
    padding: 10px 25px;
    color: var(--natural-color-3);
    line-height: 1.5;
    margin-bottom: 20px;
}

.content .box .price{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}
.content .box .price-value{
    display: flex;
    gap: 10px;
}
.content .box .price-value div p:first-child{
    color: var(--natural-color);
    font-weight: 700;
    margin-bottom: 10px;
}
.content .box .price-value div p:last-child{
    color: var(--natural-color-3);
}

.content .box .price a{
    color: var(--primary-alt-color);
}

button{
    display: block;
    padding: 10px 20px;
    border: none;
    width: 90%;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
button.primary{
    background-color: var(--primary-alt-color);
    color: var(--primary-color);
    font-weight: 700;
    box-shadow: -1px 12px 38px -11px rgba(114,128,167,0.59);
    -webkit-box-shadow: -1px 12px 38px -11px rgba(114,128,167,0.59);
    -moz-box-shadow: -1px 12px 38px -11px rgba(114,128,167,0.59);
    transition:0.3s ;
    -webkit-transition:0.3s ;
    -moz-transition:0.3s ;
    -ms-transition:0.3s ;
    -o-transition:0.3s ;
}
button.primary:hover{
    background-color: rgba(56, 41, 224, 0.8);
}
button:not(.primary){
    background-color: var(--natural-color-2);
    color: var(--natural-color);
}